<aside class='backcolor'>
  <a href='/user'>My page</a>
  <a href='#' id='peopleLink'>People</a>
  <a href='/messenger' id='messengerLink'>Messenger</a>
  <a href='#' id='settingsLink'>Settings</a>
</aside>
{{! <script src='userSourse.js'></script> }}
