<div class="form">
  <div id="message"></div>
  <h2>Sign in</h2>
  <form method="post" data-mode="login">
    <label for="login">Login</label>
    <input name="login">
    <label for="password">Password</label>
    <input type="password" name="password"><br>
    <button type="submit">Login</button>
  </form>
  <a href="#" id="change">Sign up</a>
</div>
<script src="mainSourse.js"></script>

