<div class="main-container">
    {{> aside}}
    <main class="backcolor">
    {{#each chats}}
  <div data-friendId={{this.id}} class="chat">
    {{this.name}}
  </div>
{{/each}}
    </main>
    
</div>
<script src="messengerSourse.js"></script>
<script src="asideSourse.js"></script>




