#root {
  display: flex;
  flex-direction: column;
}

* {
  text-decoration: none;
}

form, .form {
  
  display: flex;
  flex-direction: column;
align-items: center;
}

.form {
  margin-top: 100px;
  background-color: aquamarine;
  border: 5px solid blue;
  width: 400px;
  align-self: center;
  border-radius: 15px;
}

header {
  background-color:darkslateblue;
  display: flex;
  padding: 10px;
  text-align: center;
}

#headLink {
  /* display: none; */
  color:aliceblue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 140%;
/* border: 1px solid black; */
}

/* #headLink:hover {
  background-color:moccasin;
  color: black;
} */


.sign {
margin-top: 5px;
}

#logout {
  /* display: none; */
  margin-left: auto;
  color:aliceblue;
/* border: 1px solid black; */

}

.main-container {
  display: grid;
  /* flex-direction: row-reverse; */
  grid-template-columns: 200px 1fr;
  align-items: stretch;
}

.backcolor {
  background-color:lightslategray;
  border: 1px solid blue;
}

aside {
  display: flex;
  flex-direction: column;
}
aside a {
 margin: 3px;
 text-decoration: none;
 font-size: 120%;
}

aside a:hover {
  background-color:cyan;
}

.hide {
  display: none;
}

.chat {
  height: 75px;
}

.chat:hover {
  cursor: pointer;
  background-color:cadetblue;
}

.message {
  border: 1px solid red;
  padding: 10px 0 10px 10px;
  margin: 5px 0;
}

#message-container {
  overflow: auto;
  /* width: 60%; */
  height: 400px;
}

.send__block {
  border: 1px solid teal;
}

.main_mess_container {
  width: 80%;
}
